<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5HYU6C9OgUJJGYIX0hFefwd38mjIlhjo</string>
	<key>GCM_SENDER_ID</key>
	<string>657051316118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toko.app</string>
	<key>PROJECT_ID</key>
	<string>toko-113ff</string>
	<key>STORAGE_BUCKET</key>
	<string>toko-113ff.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657051316118:ios:c00b6f9749d34e0fb6f7b7</string>
</dict>
</plist>